<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ClienteAdd</display-name>
    <servlet-name>ClienteAdd</servlet-name>
    <servlet-class>br.com.bilheteria.controller.ClienteAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteAdd</servlet-name>
    <url-pattern>/ClienteAdd</url-pattern>
  </servlet-mapping>
  <display-name>sisbilheteria</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ClienteListar</display-name>
    <servlet-name>ClienteListar</servlet-name>
    <servlet-class>br.com.bilheteria.controller.ClienteListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteListar</servlet-name>
    <url-pattern>/ClienteListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventoAdd</display-name>
    <servlet-name>EventoAdd</servlet-name>
    <servlet-class>br.com.bilheteria.controller.EventoAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventoAdd</servlet-name>
    <url-pattern>/EventoAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventoListar</display-name>
    <servlet-name>EventoListar</servlet-name>
    <servlet-class>br.com.bilheteria.controller.EventoListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventoListar</servlet-name>
    <url-pattern>/EventoListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompraRealizar</display-name>
    <servlet-name>CompraRealizar</servlet-name>
    <servlet-class>br.com.bilheteria.controller.CompraRealizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompraRealizar</servlet-name>
    <url-pattern>/CompraRealizar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompraListar</display-name>
    <servlet-name>CompraListar</servlet-name>
    <servlet-class>br.com.bilheteria.controller.CompraListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompraListar</servlet-name>
    <url-pattern>/CompraListar</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filtro</display-name>
    <filter-name>Filtro</filter-name>
    <filter-class>br.com.bilheteria.filtro.Filtro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filtro</filter-name>
    <url-pattern>/Filtro</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>br.com.bilheteria.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TemaServlet</display-name>
    <servlet-name>TemaServlet</servlet-name>
    <servlet-class>br.com.bilheteria.controller.TemaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemaServlet</servlet-name>
    <url-pattern>/TemaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarStatusCompra</display-name>
    <servlet-name>AlterarStatusCompra</servlet-name>
    <servlet-class>br.com.bilheteria.controller.AlterarStatusCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarStatusCompra</servlet-name>
    <url-pattern>/AlterarStatusCompra</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AcessoFiltro</display-name>
    <filter-name>AcessoFiltro</filter-name>
    <filter-class>br.com.bilheteria.filtro.AcessoFiltro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AcessoFiltro</filter-name>
    <url-pattern>/AcessoFiltro</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>EventoCompra</display-name>
    <servlet-name>EventoCompra</servlet-name>
    <servlet-class>br.com.bilheteria.controller.EventoCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventoCompra</servlet-name>
    <url-pattern>/EventoCompra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarCompra</display-name>
    <servlet-name>DeletarCompra</servlet-name>
    <servlet-class>br.com.bilheteria.controller.DeletarCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarCompra</servlet-name>
    <url-pattern>/DeletarCompra</url-pattern>
  </servlet-mapping>
</web-app>